body {
    background: linear-gradient(    to top right,
    #7700ff,
    #0099ff);
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    }
#nagłówek {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}


#marszal {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
#czejs {
display: flex;
flex-direction: column;
align-items: center;
}

#powrót {
    display: flex;
    flex-direction: column;
    align-items: center;
}